/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/

/*----------- Login Page --------------- */
.login, .signUp {
    width: 50%;
    margin: 20px auto;
}

.login .loginForm {
    height: 40px;
}

.login .loginForm label {
    margin-top: 13px;
}

.login .submitButton {
    margin-left: 20px;
}

/*----------- Home Page --------------- */
.error {
    color: #ff0000;
    width: 50%;
    margin: 20px auto;
}

.success {
    color: #00ff00;
    width: 50%;
    margin: 20px auto;
}

.colorBlack {
    color: #3e3f3a;
}

.homeLeft {
    width: 10%;
    margin-left: 5px;
    float: left;
}

.homeLeft img {
    width: 75px;
    height: 75px;
    border: 1px solid;
    margin: 5px;
}

.homeLeft label {
    margin-left: 5px;
}

.homeMiddle {
    width: 60%;
    float: left;
}

.homeRight {
    width: 25%;
    float: left;
}

.homeMenuSearch {
    padding: 15px;
}

.homeMenuSearch input {
    width: 240px;
}

.navbar .container .navbar-collapse label {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #98978b;
    margin-left: 20px;
    margin-top: 17px;
}

.navbar .container .navbar-collapse .authNavbarImput {
    width: 15%;
    display: inline;
    margin-left: 10px;
}

.search img {
    width: 25px;
    height: 25px;
    margin: 5px;
}